*{
    margin: 0px;
    background-color: #ffffff;
    font-family: 'Inter', sans-serif;
}
#divLogo{
    background-image: url(imagens/imagemFundo.svg);
    
}
#logo{
    margin-top: 70px;
    margin-left: 50px;
    background:none;   
}
a{
    background: none;
}
#textoPrincipal{
    color: rgb(255, 255, 255);
    margin-left: 200px;
    font-weight: 50px;
    font-size: 50px;
    font-family: 'Inter', sans-serif;
    margin-top: 50px;
    background: none;
}
#textoPrincipal2{
    color: rgb(255, 255, 255);
    margin-left: 200px;
    font-weight: 50px;
    font-size: 30px;
    font-family: 'Inter', sans-serif;
    margin-top: 50px;
    background: none;
    padding-bottom: 100px;
}
#objetivo{
    padding: 55px;
    background: #EAECE5;
    text-align: center;
}
#imagemObjetivo{
    background:fixed;
}
#divVideo{
    display: grid;
    grid-auto-flow: column;
    grid-column: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}  
#tituloVideo{
    display: flex;
    color: #247BA0;
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
}
#textVideo{
    font-size: 10px;
    line-height: 20px;
    border-left: 40%;
}
#video{
    margin-left: 50%;
}
#menu{
    background-color: #247BA0; 
    padding: 40px;
}
#relatos{
    background: none;
    display: grid;
    grid-auto-flow: column;
}
.cards{
    border-radius: 10px;
    margin-left:10%;
}
#textoRelatos{
    background: none;
    color: #ffffff;
    margin-bottom: 30px;
    text-align: center;
}
.seta{
    background: none;
    margin-top: 30%;
    cursor: pointer;
}
.seta:hover{
    transform:translateY(-7px) ;
}
#setaEsquerda{
    display: none;
}
#setaDireita{
    margin-left: 100px;
}
#bru{
    display: none;
}
#informacao{
    text-align: center;
    margin-top: 50px;
}
#forms input {
    background-color:#EAECE5;
    border-radius: 10px;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 24px;
    color: #000000;
    width: 300px;
    padding: 15px 25px 15px 25px;
    margin-bottom: 30px;
}
#forms input:hover{
    transform: translateY(-5px);
}
#botao{
    border-radius: 10px;
    padding: 20px;
    width: 600px;
    line-height: 10px;
    background-color: #247BA0;
    color: #ffffff;
    margin-bottom: 100px;
    font-size: 25px;
}
#botao:hover{
    transform: translateY(-5px);
}

